.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: white;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
  
  }
  
  .navbar a {
    color: white;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: #b294f4;
    text-decoration: underline;
  }
  .navbar h1{
    color: #b294f4;
  }
  